In [66]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [80]:
df = pd.read_csv(filepath_or_buffer = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv' , delimiter = ',' , lineterminator='\n'
, usecols =['Pclass' , 'Age' , 'Fare' , 'Survived'])

# Fill Null values

In [4]:
df['Age'].fillna(df.Age.median(),inplace=True)

# Split Dataset into train valid test

## Method 1 : Standard Method -> Without validatin data

## Define X and y

In [5]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [6]:
X = df.iloc[ : , 1: ]
y = df.iloc[ : , 0 ]

In [8]:
X

     Pclass   Age     Fare
0         3  22.0   7.2500
1         1  38.0  71.2833
2         3  26.0   7.9250
3         1  35.0  53.1000
4         3  35.0   8.0500
..      ...   ...      ...
886       2  27.0  13.0000
887       1  19.0  30.0000
888       3  28.0  23.4500
889       1  26.0  30.0000
890       3  32.0   7.7500

[891 rows x 3 columns]

In [9]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [10]:
X_train , X_test , y_train , y_test = train_test_split(X, y, test_size=0.33, random_state=42)

## Method 2 : train_test_split Done twice

training = 60%

valid , test = 20% each

In [17]:
X_1 =  df.drop(columns = ['Survived']).copy()
y_1 = df['Survived']

In [18]:
X_1

     Pclass   Age     Fare
0         3  22.0   7.2500
1         1  38.0  71.2833
2         3  26.0   7.9250
3         1  35.0  53.1000
4         3  35.0   8.0500
..      ...   ...      ...
886       2  27.0  13.0000
887       1  19.0  30.0000
888       3  28.0  23.4500
889       1  26.0  30.0000
890       3  32.0   7.7500

[891 rows x 3 columns]

In [16]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

training = 60%

In [51]:
X_1_train , X_1_remaining , y_1_train , y_1_remaining = train_test_split(X_1, y_1 , train_size=0.8)

Lets do valid and test = 20% each
X_1_test & y_1_test will become new X and y

we have to define valid_size=0.5 (that is 50% of remaining data)

In [52]:
X_1_valid , X_1_test , y_1_valid , y_1_test = train_test_split(X_1_remaining , y_1_remaining, test_size=0.5)

In [53]:
print(X_1_train.shape)
print(y_1_train.shape)

(712, 3)
(712,)

In [54]:
print(X_1_valid.shape)
print(y_1_valid.shape)

(89, 3)
(89,)

In [55]:
print(X_1_test.shape)
print(y_1_test.shape)

(90, 3)
(90,)

## Method 3 : train_valid_test_split

In [59]:
from fast_ml.model_development import train_valid_test_split

In [63]:
X_train, y_train, X_valid, y_valid, X_test, y_test = train_valid_test_split(
df, 
target = 'Survived',
train_size=0.8, 
valid_size=0.1, 
test_size=0.1)

In [65]:
print(X_train.shape)
print(y_train.shape)
print(X_valid.shape)
print(y_valid.shape)
print(X_test.shape)
print(y_test.shape)

(712, 3)
(712,)
(89, 3)
(89,)
(90, 3)
(90,)

## Method 4 : Using np.split()

Train = 60% , valid and test = 20%

In [67]:
train , valid, test = np.split(df.sample(frac=1) , [int(0.6*len(df)) , int(0.8*len(df))]  )

In [70]:
train = df.iloc[: , 0]
train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64